<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="../../assets/img/nat-8.jpg" alt="tour photo" class="popup__img">
            <img src="../../assets/img/nat-9.jpg" alt="tour photo" class="popup__img">
        </div>
        <div class="popup__right" >
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these term before booking</h3>
            <p class="popup__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis culpa aut quam molestiae mollitia maxime tenetur dicta obcaecati id corporis? Ipsum sapiente officiis sed harum dignissimos deleniti! Nisi, soluta consequatur!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis culpa aut quam molestiae mollitia maxime tenetur dicta obcaecati id corporis? Ipsum sapiente officiis sed harum dignissimos deleniti! Nisi, soluta consequatur!
            </p>
            <a href="#form-section" class="btn btn--green">Book now</a>
        </div>
    </div>
</div>